*{
    font-family: "Poppins", sans-serif;
}


/* Header */

.index-header{
    background-image: url(../img/header-img.jpeg);
    height: 95vh;
    background-size: cover;
    background-position: center;
}

.index-header-btn{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.3rem;
}

.carousel-inner img {
  max-height: 450px;
  object-fit: contain;
}