@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/placeholders";

@import "./layout/header";
@import "./layout/carousel";
@import "./layout/footer";


body {
  margin: 0;
  font-family: $font-principal;
}

img {
  @extend %img-responsive;
}
