.index-header {
  min-height: 95vh;
  background-image: url(../img/header-img-2.jpeg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;

  section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 1.6rem; // Mobile first
    text-shadow: $shadow-h1;

    @include tablet {
      font-size: 2rem;
    }

    @include desktop {
      font-size: 2.4rem;
    }
  }

  @include tablet {
    padding: 3rem 2rem;
  }

  @include desktop {
    padding: 5rem 3rem;
  }
}

.index-header-btn {
  @extend %btn-base;

  background-color: $negro;
  color: $blanco;
  border: 1px solid $blanco;

  width: 100%;
  max-width: 320px;
  margin: 0.8rem auto 0;

  &:hover {
    opacity: 0.9;
  }

  @include tablet {
    max-width: 360px;
  }

  @include desktop {
    max-width: 420px;
  }
}